* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
}
body {
    margin: 0;
}
img {
  margin: auto;
}

  .header {
    background-color: #1F2937;
  }
  
  .logo {
    color:#F9FAF8;
    font-size: 24px;
    margin-left: 200px;
  }

  a {
    text-decoration: none;
    color:#e5e7eb;
  }
  ul {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    padding: 0;
    gap: 24px;
    font-size: 18px;
  }

  .header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-right:170px;
  }
  h1 {
    font-size: 48px;
    font-weight:bolder;
    color:#f9faf8;
    margin-bottom:0;
  }
  p {
    font-size: 18px;
    color:#e5e7eb; 
    margin-top: 0;
  }

  .header-main{
    display: flex;
    padding: 40px;
  }
  .left-side {
    margin: auto;
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
  }
  #button {
    width: 100px;
    color: white;
    background-color: #3882F6;
  }

  .title1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    padding: 30px;
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom:60px;
    font-size: 18px;
    text-align: center;
  }

  .info {
  max-width: 200px;
}

.one,
.two,
.three,
.four {
  height: 200px;
  width: 200px;
}

.quote {
display: flex;
justify-content: center;
background-color: #e5e7eb;
padding: 50px;
}
.thetext {
  max-width: 800px;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1F2937;

}
.author {
  text-align: end;
  font-size: 24px;
  padding: 10px;
}

.call {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.action {
  display:flex;
  justify-content: center;
  align-items: center;
  background: #3882F6;
  width: 800px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
}

.button-wrapper {
  display:flex;
  margin-left: 100px;
}
.but {
  padding: 8px;
  width: 90px;
  background-color:#3882F6;
  color: white;
  border-color: white;
  border-radius: 5px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: white;
  padding: 50px;
}